<!DOCTYPE html>
<html>
<head>
	<title>Texas BBQ wiki!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
	<ul id="login">
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Register</a></li>
	</ul>

	<div id="header">
		<h1>Texas Barbecue</a></h1>
	</div>
	<hr>

	<ul id="nav">
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/categories">Categories</a></li>
	  <li><a href="/articles">Articles</a></li>
	  <li><a href="/new-category">New Category</a></li>
	  <li><a href="/new-article">New Article</a></li>
	</ul>

	{{{body}}}
</body>
</html>