<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<title>project02_wiki</title>
</head>
<body>
{{{body}}}
=======
	<title>Texas BBQ wiki!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header">
		<button id="signIn">Sign up</button>
		<button id="register">Log in</button>
		<h1><a href="/">Texas Barbecue</a></h1>
	</div>
	<hr>

	<div id="nav">
		<h2>Navigation</h2>
		{{#each categories}}
			<h1>{{name}}</h1>
		{{/each}}
	</div>
	{{{body}}}
>>>>>>> fc7f79c7174d7e613949cbe04b5162fd60c80ce4
</body>
</html>