<div class="container">
	<form action="/create-article" method="POST">
		<input type="text" name="article_name" placeholder="Article name">
		<br><br>
		<input type="text" name="article_content" placeholder="Article content">	
		<br><br>	
		<input type="text" name="parent_category" placeholder="Category name">
		<br><br>
		<input type="text" name="article_author" placeholder="Author name">
		<br><br>
		<input type="submit" value="Create">
	</form>
</div>
